[submodule "backend"]
	path = backend
	url = https://github.com/bhaskarn11/library-management-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/bhaskarn11/library-management-frontend
